<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Arda Altınörs">
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <title>Online Photo Editor</title>
    <link rel="stylesheet" href="static/main.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<body>
<div class="container-home">
    <h1>Online Photo Editor</h1>
    <p class="alert-box">📍 Paste the link of the image to start editing!</p>
    
    <form action="{{ url_for("home_page") }}" method="post">
        <input class="w-100 m-b-20" type="text" name="path" id="path" placeholder="Image URL (.jpg, .png, .jpeg)">
        <center>
            <button type="submit">Next</button>
        </center>
    </form>
    
    <form action="/upload" method="post" enctype="multipart/form-data">
    <label for="file">Or upload an image from your PC:</label>
    <input class="w-100 m-b-20" type="file" name="file" id="file">
    <center>
        <button type="submit">Upload</button>
    </center>
</form>


</div>
</body>
</html>
