<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Arda Altınörs">
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <title>Online Photo Editor</title>
    <link rel="stylesheet" href="static/main.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<body>
<div class="container-home">
    <h1>Online Photo Editor</h1>
    <p class="alert-box">📍 Paste the link of the image to start editing!</p>
    
    <form action="{{ url_for("home_page") }}" method="post">
        <input class="w-100 m-b-20" type="text" name="path" id="path" placeholder="Image URL (.jpg, .png, .jpeg)">
        <center>
            <button type="submit">Next</button>
        </center>
    </form>


</div>

<footer>
    <p>&copy Developed by <a target="_blank" href="https://altinors.com/">Arda Altınörs</a> </p>
</footer>

</body>

</html>